<p style="color: green"><%= notice %></p>

<%= render @layout %>

<div>
  <%= link_to "Edit this layout", edit_layout_path(@layout) %> |
  <%= link_to "Back to layouts", layouts_path %>

  <%= button_to "Destroy this layout", @layout, method: :delete %>
</div>
